<%= comments.each do |comment| %>
  <div class="card">
    <%= link_to comment.account.full_name, profile_path(comment.account.username) %>
    <%# Q7: why can't we use "comment.username" in place of parameter?  %>
    <%= simple_format comment.message %>
  </div>
<% end %>