<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list", locals: {posts: @posts} %>
  </div>
  
  <div class="col-sm-4">
    <div class="h4"><%= @profile.full_name %></div>
    <div class="h4"><%= @profile.username %></div>
    <p>dfjkhfhdsgjgdhgh</p>
    <p>Cake day<%= @profile.created_at.strftime("%d/%m/%Y") %></p>
  </div>
</div>
