<div class="row">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <div class="h4"><%= @profile.full_name %></div>
    <div class="h4"><%= @profile.username %></div>
    <p>Cake day<%= @profile.created_at.strftime("%d/%m/%Y") %></p>
  </div>
</div>
